<div class="input-bar">
  <div class="input-bar-item width100">
<form onsubmit="search_navigate();return false">
    <div class="input-group">
        <input type="text" name="search" id="search" class="form-control width100 mt-3" autocomplete="off" placeholder="Enter word" required="true">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary mt-3" value="Search">Search</button>
    </span>
  </div>
</form>
</div>
</div>
<br>
<%- include('./partials/errors') %>
<br><br>
<h1><%=word%></h1>
<hr>
<br>
<% for(let i=0; i<def.length; i++){ %>
<div class="card">
    <div class="card-header">
      <i><div class="hover-underline-animation"><%= def[i][0] %></div></i>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= def[i][1]%></p>
        <footer class="blockquote-footer"><%= def[i][3]%></footer>
      </blockquote>
    </div>
  </div>
  <br>
<% } %>
<div class="card" style="width:45%; float: left">
    <div class="card-header">
      <i><div class="hover-underline-animation">Synonyms</div></i>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
          <% for(let i=0; i<syno.length; i++) { %>
            <div class="hover-underline-animation"><%=syno[i]%></div><br>
        <%}%>
        <footer class="blockquote-footer"></footer>
      </blockquote>
    </div>
  </div>
  <div class="card" style="width:45%; float: right">
    <div class="card-header">
      <i><div class="hover-underline-animation">Antonyms</div></i>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
          <% for(let i=0; i<anto.length; i++) { %>
            <div class="hover-underline-animation"><%=anto[i]%></div><br>
        <%}%>
        <footer class="blockquote-footer"></footer>
      </blockquote>
    </div>
  </div>



<script>
  var checker= document.getElementsByClassName('hover-underline-animation');
  for(var word=0; word<checker.length; word++){
    var limiter = checker[word].innerText;
    var link = "localhost:3000/word/"+limiter;
  };
  console.log(checker);
    function search_navigate(){
        var obj = document.getElementById('search');
        var keyword = obj.value;
        var dst = keyword;
        window.location = dst;
    }

    window.onload=function(){
        const search = document.getElementById('search');
        search.addEventListener('input', ()=> searchWord(search.value));
    }
    
    const matchList = document.getElementById('match-list');

    //Search dictionary.json and filter it
    const searchWord = async searchText =>{
        console.log(JSON.stringify(dict));
    }
</script>